body{
    background-image: url('../img/backgroundPage.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

img {
    width: 250px;
    height: 300px;
    margin-right: 10px;
    border:  1px solid rgb(16, 11, 11);
    float: left;
}
h4{
    color: rgb(0, 0, 0);
    margin: 0px;
    text-align: center;
    background-color: rgba(235, 235, 235, 0);
}
a{
    color: rgb(0, 0, 0);
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    margin: 5px;
}
h2,h3{
    color: rgb(0, 0, 0);
}
